header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
}

header.dark-mode {
  background-color: #1f1f1f;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.search-bar {
  flex-grow: 1;
  margin: 0 20px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
  color: #333;
}

.search-result-item:hover {
  background-color: #f4f4f9;
}

.cart-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.cart-profile .cart-icon,
.cart-profile i {
  width: 30px;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
}

.cart span {
  color: #fff;
}

.profile {
  position: relative;
  cursor: pointer;
}

.profile-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  width: 150px;
  z-index: 10;
}

.profile-menu.active {
  display: flex;
}

.profile-menu-item {
  text-decoration: none;
  color: #333;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.profile-menu-item:last-child {
  border-bottom: none;
}

.profile-menu-item:hover {
  background-color: #f4f4f9;
}

.dark-mode .profile-menu {
  background-color: #1f1f1f;
}

.dark-mode .profile-menu-item {
  color: #ffffff;
}

.dark-mode .profile-menu-item:hover {
  background-color: #333;
}

.dark-mode-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #fff;
}

.dark-mode .search-results {
  background-color: #333;
  border-color: #444;
}

.dark-mode .search-result-item {
  color: #ffffff;
}

.dark-mode .search-result-item:hover {
  background-color: #444;
}